*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/raw/spotify_config.properties
/.idea/.name
/.idea/copilot/chatSessions/00000000000.xd
/.idea/deploymentTargetSelector.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/copilot/chatSessions/blobs/version
/.idea/copilot/chatSessions/xd.lck
/app/src/main/res/raw/corticalio.properties
/app/src/main/res/raw/gemini.properties
